h1 New user

form(id="userForm" action='/' method="POST")
  p
    label(for="id_email") Email 
    br
    input(type="email" id="id_email" name="email")
  p
    label(for="id_given_name") First name
    br
    input(type="text" id="id_given_name" name="give_name")
  p
    label(for="id_last_name") Last name
    br
    input(type="text" id="id_last_name" name="family_name")
  p
    a(href="#") Submit
    br
    a(href="/users") back

script
  const form = document.querySelector('userForm');
  console.log(form)
